
.container{
    width: 600px;
    height: 1150px;
    background-color: #b6b6b6;
    display: flex;
    justify-content: center;
    padding-top: 140px;
}

.wrapper{
    width: 350px;
    height: 1150px;
}

.btnsAuth{
    display: flex;
    align-items: center;
    width: 100%;
    height: 36px;
    border: 1px solid #ffffff;
    border-radius: 30px;
}

.btnsAuth>button{
    width: 49%;
    height: 32px;
    border-radius: 30px;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: white;
}

.btnActive{
    background: #b5a5ce;
}

.btnNoBG{
    background: none;
}

.authTitle{
    margin-top: 80px;
    margin-bottom: 29px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: rgb(109, 109, 109);
}

.inputForm{
    display: block;
    height: 44px;
    width: 340px;
    background: #929191;
    border-radius: 30px;
    border: none;
    margin-bottom: 15px;
    color: #FFFFFF;
    padding-left: 20px;

}

.inputForm::placeholder{
    color: #FFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.secondBtn  {
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondBtn>a{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-decoration-line: underline;
    color: #747474;
}

.signIn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    border: 1px solid #4d4d4d;
    border-radius: 30px;
    background: #4e4e4e;
    color: white;
    margin-top: 45px;
}

.Bsecondary{
    width: 100%;
    display: flex;
    justify-content: center;
}

.createAccount{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.createAccount>p{
    margin-right: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #153416;
}

.createAccount>a{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-decoration-line: underline;
    color: white;
}

.btn-outline-secondary{
    width: 200px;
}

.alert-light{
    margin-top: 50px;
}